.proposal-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}

.select-circle {
  order: 2;
}

.circle-link {
  display: block;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  background-color: #9BBEC8;
  text-decoration: none;
  border: 2px solid transparent;

  &:hover,
  &:focus {
    background-color: #164863;
    color: white;
    border-color: #0056b3;
  }
}

.proposal-content {
  order: 1;
  flex-grow: 1;
}

.custom-primary-button {
  background-color: rgb(155, 190, 200);
  /* Set your desired background color */
  color: #fff;
  /* Set your desired text color */
  padding: 05px 20px;
  /* Adjust padding as needed */
  text-decoration: none;
  /* Remove underline for links */
  border: none;
  /* Remove border */
  cursor: pointer;
  /* Add a pointer cursor on hover */
}

.center-text {
  text-align: center;
}

.small-text {
  font-size: 0.8em; /* Adjust the size as needed */
}


.position-indicator {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px; /* Adjust as needed */
  padding: 0.25em 0.6em;
  font-size: 0.9em; /* Adjust as needed */
  font-weight: bold;
  color: #fff; /* White text */
  background-color: #263a4f; /* Blue background or any color you prefer */
  border-radius: 50%; /* Circular badge */
  width: 25px; /* Fixed width */
  height: 25px; /* Fixed height */
  text-align: center;
}

.fa-solid fa-bars { /* Style for the list icon */
  margin-right: 5px; /* Space between icon and number */
}
