<div class="d-flex align-items-start flex-column bd-highlight mb-3">
  <h1>Profiles#show</h1>
  <div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:cadetblue">
    Survey
  </div>
  <div class="mt-auto p-2 bd-highlight"> <%= link_to "Submit Questionnaire", groups_path, class: 'btn btn-sucess' %></div>
</div>
