// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #E67E22;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

// figma colors 
$c01: #244861;
$c02: #507C9A;
$c03: #E1F2FC;
$c04: #C7D6D6;
$c05: #798187;
$c06: #F7DDAF;
$c07: #F2A59E;
$c08: #BB3261;


$background: #244861;