body {
  position: relative;
  top: 0;
  left: 0;
  height: 852px;
  max-width: 393px;
  margin: 0 auto;
  overflow: auto;
  color: black;
  // background-color: rgb(182, 57, 57);
  background: linear-gradient(#164863, #427D9D, #9BBEC8, #DDF2FD);
  overflow: hidden;
  /* Hide scrollbars */
}
