//font for gift genius

// figma colors
$c01: #0D3450;
$c02: #0D3450;
$c03: #32728A;
$c04: #7DA9AF;
$c05: #798187;
$c06: #FFE3BB;
$c07: #FEB99E;
$c08: #FDAD9D;
$gradiant-blue: linear-gradient(180deg, #558BA1 0%, #E9E4C9 100%);
$gradiant-dark: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(180deg, #32728A 0%, #FE878D 100%);
$gradiant-pink: linear-gradient(90deg, #F67C7B .35%, #FFE3BB 51.96%);
$grandiant-blue: linear-gradient(90deg, #D4AC8A 3.35%, #4E8AA1 51.96%);
$gradiant-green: linear-gradient(185deg, #FDEAC0 -8.78%, #4E8AA1 96.15%);
$gradiant-light: linear-gradient(185deg, #fff6e3 -8.78%, #b7ebff 96.15%);

.btn-gradiant-dark {
  border-radius: 1.5625rem;
  background: linear-gradient(185deg, #4D8B9F -8.78%, #0B2B46 96.15%);
}

.btn-gradiant-pink {
  padding: 5px 25px;
  font-family: 'Kaushan Script', cursive;
  font-size: 1.3em;
  border-radius: 1.2rem;
  color: white;
  text-shadow: 2px 2px 6px $c01;
  border: 2px solid $c08;
  box-shadow: 2px 2px 5px $c03;
  background: linear-gradient(90deg, #F67C7B 3.35%, #FFE3BB 51.96%);
}

.btn-grandiant-blue {
  border-radius: 1.5625rem;
  background: linear-gradient(90deg, #D4AC8A 3.35%, #4E8AA1 51.96%);
}

.btn-gradiant-green {
  border-radius: 1.5625rem;
  background: linear-gradient(185deg, #FDEAC0 -8.78%, #4E8AA1 96.15%);
}

/// 

.avatar-home {
  min-width: 50px;
  max-width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 2px 2px 5px $c03;
  border: 3px solid $c08 ;
}


.avatar-confirmation {
  min-width: 70px;
  max-width: 70px;
  height: 70px;
  border-radius: 50%;
  object-fit: cover;
  overflow: hidden;
  box-shadow: 2px 2px 5px $c06;
  border: 3px solid $c04 ;
}

/// list in myoccasion
.myoccasion {
  background: $gradiant-light;
  display: flex;
  align-items: center;
  margin-bottom: 8px;
  border-radius: 35px;
  padding: 5px 5px;
  border: 2px solid $c07;
  box-shadow: 2px 2px 5px $c06;
}

.myoccasion-text {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  font-weight: 400;
  text-shadow: 2px 2px 5px $c06
}

.myoccasion-category {
  background-image: url('/app/assets/images/occasion/occasion.jpg');
  background-size: cover;
  background-position: center;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 18px;
  background: $gradiant-green;
  border: 2px solid $c08;
  text-shadow: 2px 2px 3px $c02;
  font-family: 'Kaushan Script', cursive;
  border-radius: 25px;
  box-shadow: 0 0 15px $c06;
}


.myoccasion .myoccasion-content {
  // flex-grow: 1;
  padding-left: 5px;
}

.myoccasion p {
  margin: 0;
  line-height: 1.4;
}

.myoccasion small {
  color: #999999;
  font-weight: bold;
}

.myoccasion .myoccasion-actions {
  opacity: 0;
  display: flex;
  transition: ease .3s;
}

.myoccasion:hover .myoccasion-actions {
  opacity: 1;
}

.myoccasion .myoccasion-actions a {
  color: #999999;
  margin-left: 16px;
  font-size: 14px;
}

.myoccasion .myoccasion-actions a:hover {
  color: #555555;
}


// Proposal 

.card-product-proposal {
  overflow: hidden;
  height: 120px;
  background: $gradiant-light;

  display: flex;
  align-items: center;
  box-shadow: 0 0 15px $c04;
  display: flex;
  align-items: center;
}

/* line 39, app/assets/stylesheets/components/_card.scss */
.card-product-proposal img {
  height: 100%;
  width: 140px;
  object-fit: cover;


}

/* line 47, app/assets/stylesheets/components/_card.scss */


/* line 54, app/assets/stylesheets/components/_card.scss */
.card-product-proposal h2,
.card-product-proposal .h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.list-group-proposal {
  background: none;

}

.position-indicator {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  box-shadow: 1px 1px 15px $c04;
  top: 15px;
  left: 15px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 10px;
  /* Adjust as needed */
  padding: 0.25em 0.6em;
  font-size: 1.3em;
  /* Adjust as needed */
  font-weight: bold;
  color: #fff;
  /* White text */
  background-color: $c07;
  /* Blue background or any color you prefer */
  border-radius: 50%;
  /* Circular badge */
  width: 30px;
  /* Fixed width */
  height: 30px;
  /* Fixed height */
  text-align: center;
}


.user-indicator {
  font-family: 'Kaushan Script', cursive;
  position: absolute;
  bottom: 10px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-right: 2px;
  /* Adjust as needed */
  padding: 0.1em 0.1em;
  font-size: 1.2em;
  color: #fff;
  text-shadow: 2px 1px 2px $c01;
  /* White text */
  background-color: $c02;
  box-shadow: 1px 1px 15px $c04;
  box-shadow: 0 0 15px $c07;
  /* Blue background or any color you prefer */
  border-radius: 12px;
  /* Circular badge */
  /* Fixed width */
  /* Fixed height */
  text-align: center;
}

/* line 60, app/assets/stylesheets/components/_card.scss */
.card-product-proposal p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

/* line 68, app/assets/stylesheets/components/_card.scss */
.card-product-proposal .card-product-proposal-infos {
  padding: 16px;
}



/// logo on home page ///

.welcome {
  font-family: 'Kaushan Script', cursive;
  font-size: 1.5em;
  font-weight: 400;
}

.logo-giftgenius {
  font-family: 'Kaushan Script', cursive;
  font-size: 2.5em;
  font-weight: 600;
  color: white;
  text-shadow: 4px 4px 14px $c08 ;
  margin-left: -1em;
}

.logo-shadow {

  box-shadow: 4px 4px 8px $c02;
}




// footer

.cube {
  padding: 2px;
  border-radius: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 84px;
  background: $gradiant-green;
  font-size: 1.1em;
  font-family: 'Kaushan Script', cursive;
  color: #E9E4C9;
  text-shadow: white;
  text-shadow: 4px 4px 4px $c01;
  box-shadow: 1px 1px 8px $c08;

}

.footer {
  display: flex;
  align-items: center;

  height: 80px;
  padding: 0px 0px;

}


.footer-nav {
  display: flex;
  justify-content: center;
  /* Center items horizontally */
  gap: 30px;
  /* Space between items */
  justify-content: space-between;
}

.footer-item {
  font-size: 24px;
  /* Larger icon size */
  margin-bottom: 0px;
  /* Space between icon and text */

  /* Light color for text and icons */
  text-decoration: none;
  /* Remove underline from links */
  display: flex;
  flex-direction: column;
  /* Stack icon and text vertically */
  align-items: center;
  /* Center align items */
}

.footer-item span {
  font-size: 14px;
  /* Text size */
}

// avatar big on screen
.card {
  background: none;
}


.avatar-bordered2 {
  z-index: 2;
  justify-content: center;
  align-items: center;
  width: 120px;
  /* Adjust width as needed for the size of the avatar */
  height: 120px;
  /* Make height equal to width for a perfect circle */
  border-radius: 50%;
  box-shadow: 0 4px 8px $c07;
  /* This shadow gives a nice depth effect */
  border: 5px solid $c03;
  /* Adjust border thickness and color as needed */
  object-fit: cover;
  /* This will make sure the image covers the area without stretching */
  overflow: hidden;
  /* Ensures the image stays within the border radius */
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 80%;
  /* Adjust as needed */

}

.welcome-container {
  color: white;
  text-shadow: $c08;
  font-weight: 800;
  position: absolute;
  top: 100px;
  box-shadow: 0 4px 8px $c06;
  background-color: $c04;
  width: 140px;
  align-items: center;
  border: 5px solid $c03;
  /* Or any color you’d like */
  border-radius: 45px;
  /* Adjust this value to increase or decrease the roundness */
  padding: 5px 20px;
  /* Adjust for spacing inside the container */
  width: fit-content;
  /* This will make sure the container fits the content */
  margin: auto;
  /* This will center the container if it’s a block-level element */
  /* Other styles for text, etc. */
  font-size: .8em;
  /* Example text styling */
  text-align: center;
  /* Example text styling */
}

.proposal-text {
  font-family: 'Kaushan Script', cursive;
  color: $c01;
  //  text-shadow: 2px 2px 4px $c06;
  font-size: 1.6em;

}

.openai {
  font-weight: normal;
  line-height: 90%;
}

//********************* */ cards on home page

.card-trip-home {
  border: 3px solid $c04;
  margin: 10px 0px;
  border-radius: 25px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px $c06;
}

.card-trip-home>img {
  position: relative;
  height: 100px;
  width: 100%;
  object-fit: cover;
}


.card-trip-home.card-trip-half {
  border-radius: 20px;
  position: relative;
  margin: 10px 0px;
  border-radius: 20px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px $c06;
}

.card-trip-home.card-trip-half>img {
  position: relative;
  height: 65px;
  width: 100%;
  object-fit: cover;
}

.card-trip-home h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip-home p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip-home .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards-home {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}


.card-trip-product {
  border: 3px solid $c04;
  margin: 10px 0px;
  border-radius: 25px;
  overflow: hidden;
  background: white;
  box-shadow: 0 0 15px $c06;
}

.card-trip-product>img {
  position: relative;
  height: 200px;
  width: 100%;
  object-fit: cover;
}



///***************icons colors on home */
.icon-trip-group {
  color: white;
  text-shadow: 2px 2px 5px coral;
  position: absolute;
  font-size: 2em;
  left: 20px;
}


.icon-trip-question {
  color: white;
  text-shadow: 2px 2px 5px $c04;
  position: absolute;
  font-size: 2em;
  left: 24px;
  padding-top: 50px;
}

.icon-trip-gift {
  color: white;
  text-shadow: 2px 2px 5px $c08;
  position: absolute;
  font-size: 2em;
  right: 24px;

}


.icon-trip-home.product-img>img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-img {
  height: 80%;
  overflow: hidden;
}


.icon-trip-question-half {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px $c04;
  font-size: 2em;
  top: 0px;
  left: 12px;
}

.icon-trip-gift-half {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px $c06;
  font-size: 2em;
  top: 0px;
  right: 10px;
}



// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}