:root {
  --c01: #244861;
  --c02: #507C9A;
  --c03: #E1F2FC;
  --c04: #C7D6D6;
  --c05: #798187;
  --c06: #F7DDAF;
  --c07: #F2A59E;
  --c08: #BB3261;

  --bs-body-bg: #0a2335;
  --blue: #4e73df;
  --indigo: #6610f2;
  --purple: #6f42c1;
  --pink: #e83e8c;
  --red: #e74a3b;
  --orange: #fd7e14;
  --yellow: #f6c23e;
  --green: #1cc88a;
  --teal: #20c9a6;
  --cyan: #36b9cc;
  --white: #fff;
  --gray: #858796;
  --gray-dark: #5a5c69;
  --primary: #4e73df;
  --secondary: #858796;
  --success: #1cc88a;
  --info: #36b9cc;
  --warning: #f6c23e;
  --danger: #e74a3b;
  --light: #f8f9fc;
  --dark: #5a5c69;
  --breakpoint-xs: 0;
  --breakpoint-sm: 576px;
  --breakpoint-md: 768px;
  --breakpoint-lg: 992px;
  --breakpoint-xl: 1200px;
  --font-family-sans-serif: "Noto Sans", "Noto Sans JP", "Work Sans", "Helvetica", "sans-serif", "Nunito", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  --font-family-monospace: SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace
}

// figma colors 
$c01: #244861;
$c02: #507C9A;
$c03: #4aaae2;
$c04: #7a8b8b;
$c05: #566b7b;
$c06: #F7DDAF;
$c07: #F2A59E;
$c08: #BB3261;


$background: #0a2335;

// Specific CSS for your home-page
html {
  background-color: $background;
}

body {
  position: relative;
  top: 0;
  left: 0;
  height: 852px;
  max-width: 393px;
  margin: 0 auto;
  overflow: auto;
  color: gray;
  background-color: white;
}

.shadow {
  box-shadow: 4px 4px 4px white;
  text-shadow: 4px 4px 4px white;
}

.background-img {
  background-image: url(https://res.cloudinary.com/df2nxg5o2/image/upload/v1701529292/orygnf7b2ifxeaq9x8ue.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.bg-color {
  background-color: $c03;
}

.bg-home {
  background-color: $c02;
}

.bg {
  background-color: $c02;
}

.bg-body {
  --bs-bg-opacity: 1;
  background-color: #0a2335;
}


.d-none {
  display: none;
}