// Specific CSS for your home-page
html {
  background-color: $background;
  overflow: hidden;
}

body {
  position: relative;
  top: 0;
  left: 0;
  height: 852px;
  max-width: 393px;
  margin: 0 auto;
  overflow: auto;
  color: gray;
  //background: linear-gradient(#427D9D, #9BBEC8, #DDF2FD);
  //background: linear-gradient(to bottom, #FF9BB3 0%, #FFC0A9 50%);
  //background: linear-gradient(180deg, #5690AB 0.12%, #FFA79B 47.12%, #FEEDC4 89.73%);
  background: #FFFFE6;
  //background: linear-gradient(0deg, #5690AB 0%, #FFA79B 48.08%, #FEEDC4 91.67%);
  overflow: hidden;
  /* Hide scrollbars */
}

.shadow {
  box-shadow: 4px 4px 4px white;
  text-shadow: 4px 4px 4px white;
}



a {
  text-decoration: none;
  color: #0a2335
}


.welcome-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-round {
  border-radius: 50%;
  /* Makes the avatar round */
  width: 80px;
  /* Adjust width as needed */
  height: 80px;
  /* Adjust height as needed */
  object-fit: cover;
  /* Ensures the image covers the area without distortion */
  margin-top: 10px;
  /* Adds some space between the text and the image */
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.fa-shake {
  animation: shake 0.5s ease-in-out 2;
}