// figma colors
$c01: #244861;
$c02: #507C9A;
$c03: #4aaae2;
$c04: #7a8b8b;
$c05: #566b7b;
$c06: #F7DDAF;
$c07: #F2A59E;
$c08: #BB3261;


$background: #0a2335;



// Specific CSS for your home-page
html {
  background-color: $background;
  color: white;
  overflow: hidden;
}

body {

  position: relative;
  top: 0;
  left: 0;
  height: 852px;
  max-width: 393px;
  margin: 0 auto;
  overflow: auto;
  color: gray;
  background-color: white;
  overflow: hidden;
  /* Hide scrollbars */
}

.shadow {
  box-shadow: 4px 4px 4px white;
  text-shadow: 4px 4px 4px white;
}

.background-img {
  background-image: url(https://res.cloudinary.com/df2nxg5o2/image/upload/v1701529292/orygnf7b2ifxeaq9x8ue.png);

  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}


a {
  text-decoration: none;
  color: #0a2335
}


.welcome-back {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.avatar-round {
  border-radius: 50%;
  /* Makes the avatar round */
  width: 80px;
  /* Adjust width as needed */
  height: 80px;
  /* Adjust height as needed */
  object-fit: cover;
  /* Ensures the image covers the area without distortion */
  margin-top: 10px;
  /* Adds some space between the text and the image */
}


@keyframes shake {

  0%,
  100% {
    transform: translateX(0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    transform: translateX(-10px);
  }

  20%,
  40%,
  60%,
  80% {
    transform: translateX(10px);
  }
}

.fa-shake {
  animation: shake 0.5s ease-in-out 2;
}


//avatar on the main page
.avatar-bordered2 {
  justify-content: center;
  align-items: center;
  width: 120px;
  /* Adjust width as needed for the size of the avatar */
  height: 120px;
  /* Make height equal to width for a perfect circle */
  border-radius: 50%;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  /* This shadow gives a nice depth effect */
  border: 5px solid white;
  /* Adjust border thickness and color as needed */
  object-fit: cover;
  /* This will make sure the image covers the area without stretching */
  overflow: hidden;
  /* Ensures the image stays within the border radius */
}

.parent {
  position: relative;
  display: flex;
  justify-content: center;
  /* Center horizontally */
  align-items: center;
  /* Center vertically */
  height: 80%;
  /* Adjust as needed */
  z-index: 1;
}

.welcome-container {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 120px;
  position: absolute;
  left: 40px;
  bottom: -20px;
  align-items: center;
  border: 3px solid goldenrod;
  background-color: white;
  /* Or any color you’d like */
  border-radius: 45px;
  /* Adjust this value to increase or decrease the roundness */
  padding: 5px 20px;
  /* Adjust for spacing inside the container */
  width: fit-content;
  /* This will make sure the container fits the content */
  margin: auto;
  /* This will center the container if it’s a block-level element */
  /* Other styles for text, etc. */
  font-size: .8em;
  /* Example text styling */
  text-align: center;
  /* Example text styling */
}
