<!-- New home page -->
<div class="p-2  bg-body" style="height:680px;background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url('<%= cl_image_path 'e989fd2b0040ce13ddab2f9b98075435', height: 300, crop: :fill %>')">
  <div class="">
    <div class="card p-2 my-2 ">
      <h2>Congratulation GiftGenius has accepted your request.🥳</h2>
    </div>
    <!-- Notifications / Open space area -->
    <div class="card h-75 overflow-auto p-2">
      <h4><strong>Hightlights</strong></h4>
      <div class="card-trip">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="card-trip-infos">
          <div>
            <h5>Do you want to give some information about <strong><%= User.find(@myoccasion.recipient).personnal.name %> </strong></h5>
          </div>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-trip-user avatar-bordered" />
        </div>
      </div>
      <!-- navigation buttons -->
      <div class="btn btn-group row p-0 my-4">
        <div class="col-6 ">
          <%= link_to "Gift Genius",myoccasions_path,class: "btn btn-gradient" %>
        </div>
        <div class="col-4">
          <ul class="btn-group list-group  p-0 m-0">
            <% @occasions.each do |o| %>
              <% if o.recipient == @myoccasion.recipient &&  @myoccasion.id==o.myoccasion.id %>
                <li class="list-group-item p-0 m-0">
                  <%= link_to "Questionnaire", occasion_path(o),class: "btn btn-gradient"  %>
                <% end %>  </li>
            <% end %>
          </ul>
        </div>
        <!-- end navigation buttons -->
      </div>
      <!-- card separation -->
    </div>
  </div>
</div>
