<div class="p-2 bd-highlight w-100" style="height:650px;padding:-10px;background-color:#E1F2FC;color:white">
  <h1>You are in groups/gifts</h1>
</div>
<%= link_to "back", new_group_path(@group), class: "btn btn-dark"%>
<%= link_to "Save group", groups_confirmation_path, class: "btn btn-dark" %>
