<% if notice %>
  <!--
  <div class="card bg-info text-white alert alert-info alert-dismissible fade show shadow" style="width:90%;height:150px">
    <div class="card-body">
      <%= notice %>
      <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
      </button>
    </div>
  </div>   -->
  <div class="alert alert-success alert-dismissible fade show mt-5 m-4" role="alert" style="height:300px;width:85%;">
    <%= notice %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
<% if alert %>
  <div class="alert alert-warning alert-dismissible fade show m-1" role="alert">
    <%= alert %>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close">
    </button>
  </div>
<% end %>
