<footer class="footer" style="  display: flex;
  justify-content: space-around;">
  <nav class="footer-nav mx-3">
    <%= link_to root_path, class: 'footer-item' do %>
      <i class="fa-solid fa-house-chimney"></i>
      <span>Home</span>
    <% end %>
    <%= link_to myoccasions_new_path, class: 'footer-item' do %>
      <i class="fa-solid fa-user-plus"></i>
      <span>Organise Gift</span>
    <% end %>
  </nav>
</footer>
