<footer class="footer" style=" display: flex;
  justify-content: space-around;">
  <nav class="footer-nav">
    <%= link_to root_path, class: 'footer-item' do %>
      <div class="cube">
        <i class="fa-solid fa-house-chimney"></i>
        <span class="d-none">Home</span></div>
    <% end %>
    <%= link_to myoccasions_new_path, class: 'footer-item' do %>
      <div class="cube"> <i class="fa-solid fa-gift"></i> <span class="d-none">Organise Gift</span></div>
    <% end %>
  </nav>
</footer>
<nav>
  <% if @notify_user %>
    <script type="text/javascript">
      document.addEventListener('turbolinks:load', () => {
          // Assuming `alert` is the correct controller name
          const notificationElement = document.querySelector('[data-controller="alert"]');
          if (notificationElement) {
              notificationElement.dispatchEvent(new Event('click'));
          }
      });
    </script>
  <% end %>
