<div class="d-flex align-items-start flex-column bd-highlight mb-3">
  <h1>Pages#home</h1>
  <p>Find me in app/views/pages/home.html.erb</p>
  <%= link_to "Create group", new_group_path, class: 'btn btn-primary  p-2' %>
  <%= link_to "Create Group", new_group_path(@group),class: "btn btn-dark"  %>
</div>
