
<h1>Top gifts for John</h1>
<br>
<div class="proposals-list">
  <% @proposals.each do |proposal| %>
    <div class="proposal-item">
      <div class="proposal-content">
        <h2><%= proposal.title %></h2>
        <p><%= proposal.description %></p>
      </div>
      <div class="select-circle">
        <%= link_to '', proposal_path(proposal), class: "circle-link" %>
      </div>
    </div>
  <% end %>
</div>


    <%# <%= link_to "Back", proposals_path, class: "custom-primary-button" %>
