<div class="images-wrapper" data-controller="sortable" >
  <% @products.each do |product| %>
    <div class="form-image-card h-25 p-2">
      <%= image_tag 'apple.jpg', alt: "Product image", size: "100x100", class: "form-image-card form-image p-2 m-1" %>
      <%= product.title %>
    </div>
  <% end %>
</div>
