.alert {
  z-index: 10000;
  position: absolute;
  top: 0px;
}

.bg-info {
  background-color: #36b9cc !important;
}

.text-white {
  color: #fff !important;
}

.shadow {
  box-shadow: 0 .15rem 1.75rem 0 rgba(58, 59, 69, .15) !important;
}

.bg-success {
  background-color: #1cc88a !important;
}



.flash {
  padding: 16px 24px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  margin: 8px;
}

.flash-success {
  top: 200px;
  height: 150px;
  border: 3px solid #1EDD88;
}

.flash-warning {
  top: 200px;
  height: 150px;
  border: 3px solid #FFC65A;
}

.flash-danger {
  top: 200px;
  height: 150px;
  border: 3px solid #FD1015;
}