.card {
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: white;
  background-clip: border-box;
  border: 2px solid #e3e6f0;
  border-radius: .35rem;
  text-shadow: 1px solid white;
}

.card-category {
  background-size: cover;
  background-position: center;
  height: 180px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 24px;
  font-weight: bold;
  text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: 5px;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
}

.card-product {
  position: relative;
  overflow: hidden;
  height: vh-100;
  background: white;
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
  display: flex;
  align-items: center;
}

.card-product img {
  overflow: hidden;
  height: 80%;
  width: 135px;
  object-fit: cover;
}


.position-indicator {
  position: absolute;
  box-shadow: 1px 1px 15px rgba(0, 0, 0, 02);
  top: 15px;
  left: 15px
}

.card-product h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-product p {
  font-size: 12px;
  line-height: 1.4;
  opacity: .7;
  margin-bottom: 0;
  margin-top: 8px;
}

.card-product .card-product-infos {
  padding: 16px;
}


// .card-trip {
//   margin: 10px 0px;
//   border-radius: 10px;
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
// }

// .card-trip.card-trip-half {
//   position: relative;
//   margin: 10px 0px;
//   border-radius: 10px;
//   overflow: hidden;
//   background: white;
//   box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
// }




.card-trip>img {
  position: relative;
  height: 120px;
  width: 100%;
  object-fit: cover;
}

.image {
  position: relative;
}



.card-trip-group {
  color: white;
  text-shadow: 2px 2px 5px coral;
  position: absolute;
  font-size: 2em;
  left: 20px;
}

.card-trip-question {
  color: white;
  text-shadow: 2px 2px 5px blueviolet;
  position: absolute;
  font-size: 2em;
  left: 20px;
  padding-top: 60px;
}

.card-trip-gift {
  color: white;
  text-shadow: 2px 2px 5px goldenrod;
  position: absolute;
  font-size: 2em;
  right: 20px;

}

.card-trip.card-trip-half>img {
  position: relative;

  height: 80px;
  width: 100%;
  object-fit: cover;
}

.card-trip.product-img>img {
  position: relative;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.product-img {
  height: 80%;
  overflow: hidden;
}


.card-trip-question-half {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px blueviolet;
  font-size: 2em;
  top: 0px;
  left: 10px;
}

.card-trip-gift-half {
  position: absolute;
  color: white;
  text-shadow: 2px 2px 5px goldenrod;
  font-size: 2em;
  top: 0px;
  right: 10px;
}

.card-trip h2 {
  font-size: 16px;
  font-weight: bold;
  margin: 0;
}

.card-trip p {
  font-size: 12px;
  opacity: .7;
  margin: 0;
}


.card-trip .card-trip-infos {
  padding: 10px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}

.card-trip-infos .card-trip-user {
  position: absolute;
  right: 16px;
  top: -20px;
  width: 40px;
}

.cards {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 16px;
}

// Smallest device
@media (min-width: 100px) and (max-width: 575px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
  .cards {
    grid-template-columns: 1fr 1fr;
  }
}
