.navbar-lewagon {
  justify-content: space-between;
}

.navbar-font {
  color: $c01;
  font-weight: bold;
}

.navbar-font:hover {
  color: $c04;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;

  border-radius: 15px;
}