.navbar-lewagon {
  justify-content: space-between;
  // background: #195869;
  background: white;

}

.navbar-font {
  color: white;
  font-weight: bold;
}

.navbar-font:hover {

  color: white;
  font-weight: bold;
  text-shadow: 1px 1px 1px black;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 50px;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 5px;
}

.gift-genius {
  // font-family: 'Grechen Fuemen', cursive;
  font-family: 'Caveat', cursive;
  color: #195869;
  font-size: 2.5em;
  // font-family: 'Grechen Fuemen', cursive;
  // font-family: 'Glory', sans-serif;
  // font-family: 'Sometype Mono', monospace;
  // font-family: 'Varela Round', sans-serif;
  // font-family: 'Caveat', cursive;
  // font-family: 'Glory', sans-serif;
  // font-family: 'Sometype Mono', monospace;
  // font-family: 'Varela Round', sans-serif;

}
