<div class="card" data-controller="sortable" >
  <% @products.each do |product| %>
    <div class="card w-50 h-25">
      <div class="form-image-card form-image">
        <%= product.title %>
      </div>
    </div>
  <% end %>
</div>
